@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Roboto", serif;
  }
}

/* CSS file */
.container {
  @apply px-10 py-2;
}
.active{
  @apply border-b-[1.5px] border-primary
}
 ::-webkit-scrollbar{
  display: none;
 }


